html, body{
  margin: 0px;
  height: 100%;
  background-color: #194759;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  border:1px solid #ffffff;
}

button {
  margin: 20px;
}

.container{
  background-color: #194759;
  color: #3E8C84;
  overflow: hidden;
  text-align: center;
}

.container h1{
  font-family: Arial, sans-serif;
  font-size: 30px;
  color:#D8F2F0;
  margin-bottom: 50px;
}
