<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>send canvas to server</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/libraries/p5.js"></script>
    <script language="javascript" type="text/javascript" src="../static/sketch.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>send canvas to server</h1>
      <div class="message" id="nope">
        {{text | safe}}
      </div>
      <!-- Loader -->
      <div id="sketch-holder">
        <!-- Our sketch will go here! -->
      </div>
      <!-- SUBMIT -->
      <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
          <textarea id="bs64" name="imageBase64" rows="8" cols="80" style="display: none;"></textarea>
          <br>
          <button type="submit" onclick="senddataurl()">Submit</button>
        </form>
    </div>
    <script type="text/javascript">
      function senddataurl() {
        var dataURL = defaultCanvas0.toDataURL().slice(22);
        var bs64file = document.querySelector('#bs64');
        bs64.innerHTML = dataURL;
      }
    </script>
  </body>
</html>
